body{
    margin : 0;
    padding : o;
}
.sone{
    background-color : #1f2937;
    font-family : Roboto;
    color : #f9faf8;
}
.header{
    display : flex;
    padding-top : 16px;
    padding-bottom: 16px;
}

.header > span{
    font-size : 24px;
    flex: 4;
    padding-left : 90px;
    font-weight : bold; 
}

a{
    text-decoration: none;
    color : #f9faf8;
    font-size : 18px;
    flex : 1;
}