body{
    margin : 0;
    padding : o;
}
.sone{
    background-color : #1f2937;
    font-family : Roboto;
    color : white;
}
.header{
    display : flex;
}
.elone{
    flex : 1;
    padding-left : 90px;
    padding-top : 16px;
    padding-bottom: 16px;
    font-weight : bold;
}
a{
    text-decoration: none;
    flex: 1;
}