body{
    margin : 0;
    padding : o;
}
.sone{
    background-color : #1f2937;
    font-family : Roboto;
    color : #f9faf8;
}


/*start of header*/
.header{
    display : flex;
    padding-top : 16px;
    padding-bottom: 16px;
}

.header > span{
    font-size : 24px;
    flex: 4;
    padding-left : 90px;
    font-weight : bold; 
}

a{
    text-decoration: none;
    color : #f9faf8;
    font-size : 18px;
    flex : 1;
    color : #e5e7eb;
}
/*end of header*/



/*start of introductory text*/
.intro{
    display : flex;
    
}
/* start of styling of text*/
.text{
    display : flex;
    flex-direction: column; 
    padding-left: 90px;
    padding-right : 90px;
    flex: 2;

}
.text > h2{
    font-size : 48px;
    font-weight : 900;
    color : #f9faf8;
    width : 290px;
    padding-bottom: 0px;
    margin-bottom : 0px;
    flex-basis : 0px;
}
.text > p{
    flex-basis : 0px;
    font-size :18px;
    color : #e5e7eb;
    padding-top: 0px;
}
/*end of styling of text*/


/*start styling of image*/
.image {
    flex : 3;
} 

/*end of styling of image */
